@font-face {
    font-family: IRANSans;
    src: url(../fonts/IRANSans/IRANSans.ttf);
}

@font-face {
    font-family: IRANSans-bold;
    src: url(../fonts/IRANSans/IRANSans_Bold.ttf);
}

@font-face {
    font-family: IRANSans-black;
    src: url(../fonts/IRANSans/IRANSans_Black.ttf);
}

@font-face {
    font-family: IRANSans-light;
    src: url(../fonts/IRANSans/IRANSans_Light.ttf);
}

@font-face {
    font-family: IRANSans-meduim;
    src: url(../fonts/IRANSans/IRANSans_Medium.ttf);
}

@font-face {
    font-family: IRANSans-ultra-light;
    src: url(../fonts/IRANSans/IRANSans_UltraLight.ttf);
}